<div id="uploadGisFile" class="tab-pane fade in active">
    <div class="row">        
        <div class="col-md-12">
            <progress-bar-component></progress-bar-component>
            <div class="form-group">
                <label>File:</label>
                <input id="shapeFile" type="file" class="form-control" title="Supported formats: {{$ctrl.supportedFormats}}" accept="{{$ctrl.supportedFormats}}" onchange="angular.element(this).scope().changeFile(this.files)">
            </div>
            <div class="form-group">
                <label>Layer name:</label>
                <input ng-model="$ctrl.uploadFile.TableName" class="form-control">
            </div>
           
            <!--<div class="form-group">
                <label>
                    <input type="checkbox" ng-model="$ctrl.uploadFile.IsODataEnabled">
                    Enable OData
                </label>
            </div>-->
            <div class="form-group">
                <button ng-click="$ctrl.upload()" class="btn blue"><span class="glyphicon glyphicon-upload"></span> Upload</button>
            </div>
        </div>
        
    </div>
</div>
