<!-- choose layer -->
<select-layer-component on-layer-change="$ctrl.onLayerChange"></select-layer-component>
<div  ng-if="$root.currentLayerId" class="row">
    <div class="col-md-12">
        <p class="m-t-0"><strong>Server:</strong> {{$ctrl.connection.Name}} 
            <i class="fa fa-circle breadcrumb-seperant"></i>
        <strong>Database:</strong> {{$ctrl.connection.DatabaseName}}
            <i class="fa fa-circle breadcrumb-seperant"></i>
        <strong>Table:</strong> {{$ctrl.layer.TableName}}</p>
        
        
        <form name="$ctrl.form">
            <div class="row">
                <label ng-if-start="$ctrl.haveIncludeDateTimeField()" class="col-xs-2 form-label"><input type="checkbox" ng-model="$ctrl.layer.IsSupportTime" /> Time Aware</label>
                <div ng-if-end ng-show="$ctrl.layer.IsSupportTime" class="col-xs-8 form-group">
                    <label class="col-xs-2 text-right form-label">Time field:</label>
                    <div class="col-xs-4">
                        <ui-select ng-model="$ctrl.SelectedTimeField"
                                   theme="bootstrap"
                                   ng-disabled="ctrl.disabled"
                                   reset-search-input="false"
                                   title="Choose time field">
                            <ui-select-match placeholder="Choose time field">{{$select.selected.Name}}</ui-select-match>
                            <!-- field type 5 for date -->
                            <ui-select-choices repeat="f in $ctrl.beginFields |filter:{ Type: 5, IsIncluded: true } | propsFilter: {Name: $select.search}">
                                <div ng-bind-html="f.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="col-xs-2 form-label">Filter expression:</label>
                    <div class="col-xs-6">
                        <input class="form-control" placeholder="Any valid SQL where statement, e.g.: FID>10 or State='CA'" ng-model="$ctrl.layer.FilterExpression" />
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="25%">Field name</th>
                        <th width="20%">Field type</th>
                        <th width="30%">Alias</th>
                        <th width="30%">Domain</th>
                        <th width="2%">Included</th>
                        <th width="2%">Editable</th>
                        <th class="no-wrap" width="2%">Display field</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="field in $ctrl.fields">
                        <td>{{field.Name}}</td>
                        <td>{{$ctrl.fieldTypes[field.Type].Name}}</td>
                        <td ng-if-start="($index!=0&&$ctrl.fieldTypes[field.Type].Name!='Geometry')"><input type="text" ng-model="field.Alias" /></td>
                        <td><a ng-click="$ctrl.openDomainModal(field.Domain)">Domain</a> ({{field.Domain.type?$ctrl.domains[field.Domain.type]:'None'}})</td>
                        <td><input type="checkbox" ng-model="field.IsIncluded" /></td>
                        <td><input type="checkbox" ng-model="field.IsEditable" /></td>
                        <td ng-if-end><input name="displayField" type="radio" ng-click="$ctrl.updateIsDisplay()" ng-value="field.Id" ng-model="$ctrl.displayField" /></td>
                        <td ng-if-start="!($index!=0&&$ctrl.fieldTypes[field.Type].Name!='Geometry')"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td ng-if-end></td>
                    </tr>
                </tbody>
            </table>
            <button ng-click="$ctrl.saveFields()" class="btn blue"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <button class="btn btn-danger tree-button" ng-click="$ctrl.reset()">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            <div class="right-buttons">
                <button ng-click="$ctrl.syncLayerToTable()" class="btn blue"><span class="glyphicons glyphicons-roundabout"></span> Sync Table Schema</button>
            </div>
            <field-domain-modal-component domain="$ctrl.activeDomain"></field-domain-modal-component>
        </form>
</div>
</div>


