
<script type="text/ng-template" id="freeVersion.html">
    <ul>
        <li>You are only allowed to use 5 Layers</li>
        <li>You are only allowed to use Map Services</li>
        <li>You are not allowed to use Tile Caches</li>
        <li>You are only allowed to use the default installed database connection</li>
    </ul>
    <p>Please purchase the ENTERPRISE version for full features including: Unlimited Layers, Features Services, Tile Caches, Multiple Database Connections and Azure Deployment.</p>
</script>
<!-- PRO -->
<div ng-if="$root.licenseInfo.VersionType==0">
    <p>You are using the <strong class="about-highlight">PRO version</strong>, with the following limitations:</p>
    <ul>
        <li>You are only allowed to use Map Services</li>
        <li>You are not allowed to use Tile Caches</li>
        <li>You are not allowed to deploy to Azure</li>
    </ul>
    <p>Please purchase the ENTERPRISE version for full features including: Features Services, Tile Caches and Azure Deployment.</p>
    <p ng-if="$root.licenseInfo.ExpiredDate">Your license will expire on <strong class="about-highlight">{{$ctrl.jsonToDate($root.licenseInfo.ExpiredDate)|date:'mediumDate'}}</strong></p>
    <p>Your hardware Id: {{$root.licenseInfo.HardwareId}}, use this information when you purchase new license</p>
</div>
<!-- ENTERPRISE -->
<div ng-if="$root.licenseInfo.VersionType==3">
    <p>You are using the <strong class="about-highlight">ENTERPRISE version</strong>, with full features.</p>
    <p ng-if="$root.licenseInfo.ExpiredDate">Your license will expire on <strong class="about-highlight">{{$ctrl.jsonToDate($root.licenseInfo.ExpiredDate)|date:'mediumDate'}}</strong></p>
    <p>Your hardware Id: {{$root.licenseInfo.HardwareId}}, use this information when you purchase new license</p>
</div>
<!-- trial -->
<div ng-if="$root.licenseInfo.VersionType==1">
    <p>You are using the <strong class="about-highlight">TRIAL version</strong></p>
    <p  class="about-highlight">Used {{$root.licenseInfo.CurrentEvaluationDay}} days of {{$root.licenseInfo.TotalEvaluationDay}} total trial days</p>
    <p>After the trial period, this software will be changed to BASIC version, with the following limitations:</p>
    <div ng-include="'freeVersion.html'"></div>
    <p>Your hardware Id: {{$root.licenseInfo.HardwareId}}</p>
    
</div>
<!-- free -->
<div ng-if="$root.licenseInfo.VersionType==2">
    <p>You are using the <strong class="about-highlight">BASIC version</strong>, with the following limitations:</p>
    <div ng-include="'freeVersion.html'"></div>
    <p>Your hardware Id: {{$root.licenseInfo.HardwareId}}</p>
</div>
<!-- upload license key -->
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Upload license:</label>
            <input type="file" class="form-control" title="Supported formats: .license" accept=".license" onchange="angular.element(this).scope().changeFile(this.files)">
        </div>

        <div class="form-group">
            <button ng-click="$ctrl.upload()" class="btn blue"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        </div>
    </div>
</div>
