<script type="text/ng-template" id="nodes_renderer.html">
    <div id="node{{node.MetadataType}}_{{node.Id}}" ng-click="$ctrl.activeNode(this,$index)"  context-menu="$ctrl.menuOptions"
                 ui-tree-handle class="tree-node tree-node-content"
         title="{{$ctrl.getDisableTitle(node)||(node.Name+' '+$ctrl.getNodeTypeName(this,$index))}}"
         ng-class="{'folder':node.MetadataType==0,'service':node.MetadataType==1, 'layer':node.MetadataType==2,'disabled': node.IsDisabled,'active':node.Id==$root.currentNode.Id&&node.MetadataType==$root.currentNode.MetadataType}">
        <a class="btn expand-button btn-xs btn-enable" ng-if="node.Nodes && node.Nodes.length > 0" data-nodrag ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
        </a>
       
       
        <!--3 top for folder and service, 3 button for layer-->
        <span class="metadata-icon glyphicons"
              ng-class="{
            'glyphicons-folder-open': node.MetadataType==0,
            'glyphicons-nearby-circle': node.MetadataType==1&&node.ServiceType==0,
            'glyphicons-nearby-square': node.MetadataType==1&&node.ServiceType==1,

            'glyphicons-vector-path-polygon': node.MetadataType==2&&(node.Type==1||node.Type==2),
            'glyphicons-pin': node.MetadataType==2&&!node.Type,
            'glyphicons-vector-path-line': node.MetadataType==2&&node.Type==3}"><!--please don't delete this comment, it will make ui change--><span ng-if="!$ctrl.isTreeCollapsed" class="node-text">{{node.Name}} {{$ctrl.getNodeTypeName(this,$index)}}</span>
        </span>
      

    </div>
    <ol ui-tree-nodes="" ng-model="node.Nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.Nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>



<div class="row {{$ctrl.isTreeCollapsed?'tree-collapsed':''}}">
    <div class="col-sm-4">
        <div ui-tree data-drag-enabled="false" class="portlet light bordered" id="tree-root">
            <div class="row" ng-intro-options="$ctrl.introOptions" ng-intro-autorefresh="1" ng-intro-method="$ctrl.callIntro" ng-intro-exit-method="$root.exitIntro">
                <div class="col-sm-12 tree-button-group">
                    <button class="btn btn-default expand-button" ng-click="$ctrl.expandAll()"><span class="glyphicon glyphicon-expand"></span> Expand </button>
                    <button class="btn btn-default expand-button" ng-click="$ctrl.collapseAll()"><span class="glyphicon glyphicon-collapse-down"></span> Collapse </button>
                    <button id="intro1" class="btn blue" ng-click="$ctrl.addNewFolder();$root.exitIntro()"><span class="glyphicon glyphicon-plus"></span> Add Folder</button>
                    <button class="btn blue" ng-click="$ctrl.toggleTree()"><span class="glyphicons {{$ctrl.isTreeCollapsed?'glyphicons-arrow-right':' glyphicons-arrow-left'}}"></span>{{$ctrl.isTreeCollapsed?"Expand Tree":"Collapse Tree"}}</button>
                </div>
            </div>
            <ol ui-tree-nodes ng-model="$ctrl.data">
                <li ng-repeat="node in $ctrl.data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
    <!--main panel-->
    <div class="col-sm-8">
        <!--folder-->
        <div class="portlet light bordered" id="mainPanel" ng-if="$root.currentNode.MetadataType==0">      
            <div class="right-buttons" ng-if-start="$root.currentNode.Id"> <!--this is folder function only show when edit folder (when it aready have id)-->
                <a class="btn blue" ng-click="$ctrl.openImportServiceDialog($root.currentScope)">
                    <span class="glyphicon glyphicon-import"></span> Import Service
                </a>
                <a id="intro2" class="btn blue" ng-click="$ctrl.addNewService($root.currentScope);$root.exitIntro()">
                    <span class="glyphicon glyphicon-plus"></span> Add Service
                </a>
                <a class="btn btn-outline red btn-enable" data-nodrag ng-click="$ctrl.removeMetadata($root.currentScope)">
                    <span class="glyphicon glyphicon-remove"></span> Delete folder
                </a>
            </div>
            <breadcrumb-component ng-if-end metadata-type="0" metadata-id="$root.currentNode.Id"></breadcrumb-component>
            <create-folder-modal-component callback="$ctrl.pushFolder" single="$ctrl.single"></create-folder-modal-component>
        </div>
        <!--service-->
        <div class="portlet light bordered" id="mainPanel" ng-if="$root.currentNode.MetadataType==1">
            <div class="right-buttons" ng-show="$root.currentNode.Id">  <!--this is service function only show when edit service (when it aready have id)-->
                <a id="intro3" class="btn blue"
                   ng-click="$ctrl.showLayerModal($root.currentScope);$root.exitIntro()">
                    <span class="glyphicon glyphicon-plus"></span> Add Layer
                </a>
                <a class="btn btn-outline red btn-enable" data-nodrag ng-click="$ctrl.removeMetadata($root.currentScope)">
                    <span class="glyphicon glyphicon-remove"></span> Delete service
                </a>
            </div>
            <breadcrumb-component metadata-type="1" metadata-id="$root.currentServiceId"></breadcrumb-component>
            <div>
                <ul class="nav nav-tabs">
                    <!-- tab 1 hide for feature service or not cached or not have Id (when add) -->
                    <li ng-hide="t.Id==1&&($root.currentNode.ServiceType==1||!$root.currentNode.IsCached||!$root.currentNode.Id)" ng-repeat="t in $ctrl.serviceTabs" ng-class="{'active': t.Id==$ctrl.currentServiceTab}">
                        <a ng-click="$ctrl.activeServiceTab(t.Id)">{{t.Name}}</a>
                    </li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" ng-if="$ctrl.currentServiceTab==0">
                        <create-service-modal-component callback="$ctrl.pushService" single="$ctrl.single" breadcrumb="$ctrl.folderBreadcrumb" connections="$ctrl.connections"></create-service-modal-component>
                    </div>
                    <!-- hide for feature service -->
                    <div ng-hide="$root.currentNode.ServiceType==1||!$root.currentNode.Id" class="tab-pane active" ng-if="$ctrl.currentServiceTab==1"> 
                        <build-tiles-component></build-tiles-component>
                    </div>
                </div>
            </div>
           
        </div>
        <!--layer-->
        <div class="portlet light bordered" id="mainPanel" ng-if="$root.currentNode.MetadataType==2">
            <div class="right-buttons" ng-show="$root.currentNode.Id">
                <a class="btn btn-primary blue" href="/MapPreview/Map.html?layer={{$ctrl.getNodeLink($root.currentScope,$root.currentNodeIndex)}}" target="_blank">
                    <span class="glyphicons glyphicons-eye-open tree-icon"></span> Preview
                </a>
                <a class="btn btn-outline red btn-enable" data-nodrag ng-click="$ctrl.removeMetadata($root.currentScope)">
                    <span class="glyphicon glyphicon-remove"></span> Delete layer
                </a>
            </div>
            <!--layer breadcrumb-->
            <div>
                <breadcrumb-component ng-if="$root.currentLayerId" metadata-type="2" metadata-id="$root.currentLayerId"></breadcrumb-component>
            </div>
            <ul class="nav nav-tabs">
                <li ng-repeat="t in $ctrl.layerTabs" ng-class="{'active': t.Id==$ctrl.currentLayerTab}">
                    <a ng-click="$ctrl.activeLayerTab(t.Id)">{{t.Name}}</a>
                </li>                
            </ul>

            <div class="tab-content ">
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==0">
                   <layer-config-component push-layer="$ctrl.pushLayer"></layer-config-component>
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==1">
                    <!--field-->
                   <layer-field-component></layer-field-component>
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==2">
                    <!--renderer-->
                   <create-renderer-component></create-renderer-component>
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==3">
                   <!-- label content -->                    
                    <label-component></label-component>                   
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==4">
                    <!--html-->
                    <popup-component></popup-component>
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==5">
                    <!--relate record-->
                    <related-record-component></related-record-component>
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==6">
                    <!--relate record-->
                    <event-config-component></event-config-component>
                </div>
                <div class="tab-pane active" ng-if="$ctrl.currentLayerTab==7">
                    <!--version-->
                    <version-component></version-component>
                </div>
               
            </div>
            
        </div>
    </div>
</div>


<create-layer-modal-component callback="$ctrl.saveLayerCallback" single="$ctrl.single"></create-layer-modal-component>
<import-service-modal-component callback="$ctrl.importServiceCallBack" single="$ctrl.single" breadcrumb="$ctrl.folderBreadcrumb" connections="$ctrl.connections"></import-service-modal-component>

