<div class="portlet light bordered ng-scope" id="mainPanel">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-3">
            <h4> OAuth 2.0 Token</h4>
            <div class="form-group">
                <label>Client ID: </label>
                <input ng-model="$ctrl.client.Id" class="form-control">
            </div>
            <div class="form-group">
                <label>Client Secret: </label>
                <input ng-model="$ctrl.client.Secret" class="form-control">
            </div>
            <div class="form-group">
                <a class="btn blue" ng-click="$ctrl.generateAccessToken()"><span class="glyphicon glyphicon-ok"></span> Generate access token</a>
            </div>
            <div ng-if="$ctrl.token.Token" class="form-group">
                <label>API Access token: </label>
                <input ng-value="$ctrl.token.Token" class="form-control">
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>


