gre<select-layer-component  on-layer-change="$ctrl.onLayerChange"></select-layer-component>

<div ng-if-end id="createRendererComponent">
    <form name="$ctrl.form">
        <div class="row">
           
            <div class="col-md-6">               
                <div class="row">
                    <div class="col-md-6">                        
                        <div class="form-group">
                            <label>Type of renderer: </label>
                            <ui-select on-select="$ctrl.clearAtributeToShow()" ng-model="$ctrl.drawing.DrawingStyle"
                                       theme="bootstrap"
                                       reset-search-input="false">
                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="d in $ctrl.drawingStyles| propsFilter: {Name: $select.search}">
                                    <div ng-bind-html="d.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>Rendering field:</label>
                            <ui-select ng-model="$ctrl.drawing.Attribute"
                                        theme="bootstrap"
                                        ng-disabled="!($ctrl.drawing.DrawingStyle.Id==1||$ctrl.drawing.DrawingStyle.Id==2)"
                                        reset-search-input="false">
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="a in $ctrl.filteredAttributes=($ctrl.attributes| filter: $ctrl.filterAttributeByDrawingStyle |propsFilter: {name: $select.search})">
                                    <div ng-bind-html="a.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Transparency %: </label>
                            <input class="form-control" type="number" ng-min="0" ng-max="100" ng-model="$ctrl.drawing.Transparency" />
                        </div>
                        <div class="form-group">
                            <label>Visible range: </label>
                            <ui-select ng-model="$ctrl.drawing.VisibleRange"
                                       theme="bootstrap"
                                       reset-search-input="false">
                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="v in $ctrl.visibleRanges| propsFilter: {Name: $select.search} ">
                                    <div ng-bind-html="v.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="$ctrl.geometryType=='esriGeometryPoint'">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Symbol type:</label>
                            <ui-select ng-model="$ctrl.drawing.SymbolType"
                                       theme="bootstrap"
                                       reset-search-input="false">
                                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="s.Value as s in $ctrl.symbolTypes | filter: {Description: $ctrl.geometryType} |propsFilter: {Name: $select.search}">
                                    <div ng-bind-html="s.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <div ng-include="'/Views/Admin/Renderer/symbol-patial.html'">
            </div>
           
        </div>
    </form>
    <div class="row m-t-20">      
        <div class="col-md-12">
            <button ng-click="$ctrl.saveRenderer()" class="btn blue"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <button class="btn btn-danger tree-button" ng-click="$ctrl.reset();$ctrl.form.$setPristine();">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
        </div>
    </div>
</div>
