<div class="modal fade" id="creatFolderModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{$ctrl.single.IsEditMode?'Edit':'Add'}} folder</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Folder name: </label>
                    <input ng-model="$ctrl.single.NewFolder.Name" class="form-control">
                </div>
                <button ng-click="$ctrl.saveFolder()" type="button" class="btn blue">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Save
                </button>
            </div>            
        </div>
    </div>
</div>