<div class="modal fade" id="importServiceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import service</h4>
            </div>
            <div class="modal-body">
                <div class="layer-modal-breadcrumb" ng-include="'/Views/Admin/SharedComponent/breadcrumb-component.html'"></div>
                <progress-bar-component></progress-bar-component>
                <div class="form-group">
                    <label>Service URL (Map Service/Feature service): </label>
                    <input placeholder="eg: http://myhost.com/ArcGIS/rest/services/TestFolder/TestService/MapServer" ng-model="$ctrl.serviceURL" class="form-control">
                </div>
                <div class="form-group">
                    <label>Database connection: </label>
                    <!-- disable when edit or basic version  -->
                    <ui-select ng-model="$ctrl.connectionId"
                               theme="bootstrap"                              
                               reset-search-input="false"
                               ng-disabled="$ctrl.connections.length == 1"
                               title="{{$root.isBasicVersion()?'The BASIC version is limited to the default installed database connection':''}}">
                        <ui-select-match placeholder="Choose database connection">{{$select.selected.Name +'.'+$select.selected.DatabaseName}}</ui-select-match>
                        <ui-select-choices repeat="c.Id as c in $ctrl.connections  | propsFilter: {Name: $select.search}">
                            <div ng-bind-html="c.Name+'.'+c.DatabaseName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button ng-click="$ctrl.importService()" type="button" class="btn blue">
                    <span class="glyphicon glyphicon-import"></span>
                    Import
                </button>
            </div>            
        </div>
    </div>
</div>